@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: dark;
}

@media print {
  body { background: white !important; color: black !important; }
  .no-print { display: none !important; }
  .print-only { display: block !important; }
}
